<ion-header>
  <ion-navbar>
    <ion-title>{{p.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <div class="place-img">
    <img src="{{p.dataImg}}">
    <ion-fab right bottom #fab>
      <button ion-fab mini color="dark" (click)="goToMapPage()"><ion-icon name="walk" ></ion-icon></button>
    </ion-fab>
  </div>

  <ion-item *ngIf="!nameUpdating" class="no-border title">
    <button ion-button clear item-end (click)="modifyName()">
      <ion-icon name="create"></ion-icon>
    </button>
    <h2>
      <ion-icon name="bookmark" item-left ></ion-icon>
      {{p.name}}
    </h2>
  </ion-item>

  <ion-item *ngIf="nameUpdating">
    <button ion-button clear item-end (click)="cancelNameUpdate()" *ngIf="nameUpdating" large>
      <ion-icon name="close" color="danger" class="modify-button"></ion-icon>
    </button>
    <button ion-button clear item-end (click)="updateName({name:p.name})" *ngIf="nameUpdating" large class="modify-button">
      <ion-icon name="checkmark" color="secondary"></ion-icon>
    </button>
    <ion-input type="text" rows="1" [(ngModel)]="p.name" autocomplete="on"></ion-input>
  </ion-item>

  <ion-item class="subtitle">
    <button ion-button clear item-end (click)="modifyCategories()" *ngIf="!categoriesUpdating">
      <ion-icon name="create"></ion-icon>
    </button>
    <p text-wrap>{{getSelectedCategories()}}</p>
    <ion-select #selectCat [(ngModel)]="selectedCategories" multiple="true" okText="Valider" cancelText="Annuler" [selectOptions]="categoryAlertOpts" [compareWith]="compareFn" (ionCancel)="cancelCategoriesUpdate()" (ionChange)="updateCategories()" *ngIf="categoriesUpdating">
      <ion-option *ngFor="let c of availableCategories" [value]="c">{{c.text}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <button ion-button clear item-end (click)="modifyPosition()" *ngIf="!posUpdating">
      <ion-icon name="create"></ion-icon>
    </button>
    <button ion-button clear item-end (click)="cancelPositionUpdate()" *ngIf="posUpdating" large>
      <ion-icon name="close" color="danger" class="modify-button"></ion-icon>
    </button>
    <button ion-button clear item-end (click)="updatePosition({latitude:p.latitude,longitude:p.longitude,altitude:p.altitude})" *ngIf="posUpdating" large class="modify-button">
      <ion-icon name="checkmark" color="secondary"></ion-icon>
    </button>
    <h2>
      <ion-icon name="pin" item-left ></ion-icon>
      Position :
    </h2>
    <p *ngIf="!posUpdating">Latitude : {{p.latitude}}</p>
    <p *ngIf="!posUpdating">Longitude : {{p.longitude}}</p>
    <p *ngIf="!posUpdating">Altitude : {{p.altitude}}m</p>
  </ion-item>
  <ion-item *ngIf="posUpdating">
    <ion-label color="dark" fixed>Latitude :</ion-label>
    <ion-input type="text" rows="1" [(ngModel)]="p.latitude"></ion-input>
  </ion-item>
  <ion-item *ngIf="posUpdating">
    <ion-label color="dark" fixed>Longitude :</ion-label>
    <ion-input type="text" rows="1" [(ngModel)]="p.longitude"></ion-input>
  </ion-item>
  <ion-item *ngIf="posUpdating">
    <ion-label color="dark" fixed>Altitude :</ion-label>
    <ion-input type="text" rows="1" [(ngModel)]="p.altitude"></ion-input>
  </ion-item>

  <ion-item [class.no-border]="noteUpdating">
    <button ion-button clear item-end (click)="ModifyNote()" *ngIf="!noteUpdating">
      <ion-icon name="create"></ion-icon>
    </button>
    <button ion-button clear item-end (click)="cancelNoteUpdate()" *ngIf="noteUpdating" large>
      <ion-icon name="close" color="danger" class="modify-button"></ion-icon>
    </button>
    <button ion-button clear item-end (click)="updateNote({note:p.note})" *ngIf="noteUpdating" large class="modify-button">
      <ion-icon name="checkmark" color="secondary"></ion-icon>
    </button>
    <h2>
      <ion-icon name="paper" item-left ></ion-icon>
      Notes de terrain :
    </h2>
    <p text-wrap *ngIf="!noteUpdating">{{p.note}}</p>
  </ion-item>

  <ion-item *ngIf="noteUpdating">
    <ion-textarea type="text" rows="5" autocomplete="on" [(ngModel)]="p.note"></ion-textarea>
  </ion-item>

  <ion-item>
    <h2>
      <ion-icon name="calendar" item-start></ion-icon>
      {{p.dDay}}-{{p.dMonth}}-{{p.dYear}} à {{p.dHour}}h {{p.dMin}}min
    </h2>
    <p>(date de création de la fiche)</p>

  </ion-item>

</ion-content>
