<ion-header>
  <ion-navbar>
    <ion-title>Ajouter un lieu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- Add an image-->
  <ion-card class=" no-margin">
    <div *ngIf="createStep==1" class="no-padding">
      <img src="assets/imgs/place-template.jpg" />
      <div class="card-title text-shadow">Add an image</div>
      <ion-fab center middle>
        <button ion-fab color="light"><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="left">
          <button ion-fab color="dark" (click)="importFromGallery()"><ion-icon name="images"></ion-icon></button>
        </ion-fab-list>
        <ion-fab-list side="right">
          <button ion-fab color="dark" (click)="importFromCamera()"><ion-icon name="camera"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>
    </div>
  </ion-card>

  <img src="{{pDataImg}}" *ngIf="pDataImg && createStep>1" />

  <form [formGroup]="newPlaceForm" (submit)="addPlace()" novalidate>

    <!-- Place name -->
    <ion-item class="no-border title">
      <h2>
        <ion-icon name="bookmark" item-left ></ion-icon>
        Nom de la fiche :
    </h2>
    </ion-item>
    <ion-item>
      <ion-input type="text" autocomplete="on"  placeholder="Ajouter ici le nom de votre fiche" formControlName="name" type="text"></ion-input>
    </ion-item>

    <!-- Geolocalisation-->
    <ion-item>
      <button ion-button clear item-end large *ngIf="!locationTracker.isWatching" (click)="startTracking()" >
      <ion-icon name="locate" color="danger"></ion-icon>
    </button>
      <button ion-button clear item-end large *ngIf="locationTracker.isWatching" (click)="stopTracking()" >
      <ion-icon name="locate" color="secondary"></ion-icon>
    </button>
      <h2>
        <ion-icon name="pin" item-left ></ion-icon>
        Position :
      </h2>
      <p>Latitude : {{locationTracker.lat}}</p>
      <p>Longitude : {{locationTracker.lng}}</p>
      <p>Altitude : {{locationTracker.alt}}m</p>
      <p>{{trackingNfo}}</p>
    </ion-item>

    <!-- Note -->
    <ion-item class="no-border">
      <h2>
        <ion-icon name="paper" item-left ></ion-icon>
        Notes de terrain :
    </h2>
    </ion-item>
    <ion-item>
      <ion-textarea type="text" rows="5" autocomplete="on"  placeholder="Ajouter ici votre note de terrain" formControlName="note" type="text"></ion-textarea>
    </ion-item>


    <button ion-button class="save-button" type="submit" [disabled]="!newPlaceForm.valid || !datasCompleted()">Save</button>
  </form>

</ion-content>
