page-map-osm {
  .map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .ion-map-icon {
    font-family: "Ionicons";
    //content: "\f3d1";
    font-size: 22px;
    margin-left: -1px;
  }

  .ion-map-icon-on {
    color: color($colors, secondary);
  }

  .ion-map-icon-off {
    color: color($colors, danger);
  }
}
